@media (max-width: 1200px) {
    mat-grid-list {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media (max-width: 900px) {
    mat-grid-list {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 600px) {
    mat-grid-list {
      grid-template-columns: 1fr;
    }
  }
  