#album-window {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: left;
	--width-album-section: 20%;
	--width-songs-section: 70%;
	--height-song-card: 70px;

	&-header {
		width: var(--width-album-section);
		position: absolute;
		top: 10px;
		right: 30px;

		img {
			width: 100%;
			aspect-ratio: 1/1;
			border-radius: 50%;
		}
	}
}