<div id="album-window">
  <section id="album-window-header" *ngIf="songs[0]">
    <h2>{{songs[0].album}}</h2>
    <img [src]="songs[0].imageUrl" (error)="handleImageError(songs[0])" alt="album image" />
    <p>by: <span (click)="navigateToArtistWindow(songs[0].artist!)" class="underline-on-hover">{{songs[0].artist?.trim() || 'no artist'}}</span></p>
  </section>

  <ul *ngFor="let song of songs; let i = index">
    <app-song-strap [song]="song"></app-song-strap>
  </ul>
</div>

<app-playbar></app-playbar>