<div class="playbar-container" *ngIf="currentSong">
  <div class="playbar-song-info">
    <img
      class="playbar-song-info_img"
      [src]="currentSong.imageUrl"
      alt="song image"
    />

    <div class="playbar-song-info_text">
      <p class="playbar-song-info_text_title">{{ currentSong.title }}</p>
      <p class="playbar-song-info_text_artist">{{ currentSong.artist }}</p>
    </div>

    <div class="playbar-song-info_favorite" (click)="toggleFavorite()">
      <mat-icon
        [fontIcon]="favoriteSong ? 'favorite' : 'favorite_outline'"
      ></mat-icon>
    </div>
  </div>

  <div class="playbar-main">
    <div class="playbar-progress">
      <p class="playbar-time">
        {{ formatLabel(currentTimeInSeconds) }}
      </p>
      <input
        type="range"
        min="0"
        [max]="songDurationInSeconds"
        step="1"
        [value]="currentTimeInSeconds"
        (input)="onRangeInput($event)"
        (change)="onRangeChange($event)"
        class="playbar-progress-slider"
      />

      <p class="playbar-time">
        {{ formatLabel(songDurationInSeconds) }}
      </p>
    </div>

    <div class="playbar-controls-buttons">
      <button
        class="playbar-controls-buttons_previous no_hover_effect"
        mat-icon-button
        (click)="playPreviousSong()"
      >
        <mat-icon fontIcon="skip_previous"></mat-icon>
      </button>
      <button
        class="playbar-controls-buttons-play-stop"
        mat-icon-button
        (click)="playPauseSong()"
      >
        <mat-icon
          [fontIcon]="audio?.paused ? 'play_arrow' : 'pause'"
        ></mat-icon>
      </button>
      <button
        class="playbar-controls-buttons-next"
        mat-icon-button
        (click)="playNextSong()"
      >
        <mat-icon fontIcon="skip_next"></mat-icon>
      </button>
    </div>
  </div>
</div>
