<div class="playbar-container" *ngIf="currentSong">
  <div class="playbar-song-info">
    <img
      class="playbar-song-info_img"
      [src]="currentSong?.imageUrl"
      alt="song image"
    />

    <div class="playbar-song-info_text">
      <p class="playbar-song-info_text_title">{{ currentSong?.title }}</p>
      <p class="playbar-song-info_text_artist">{{ currentSong?.artist }}</p>
    </div>

    <div class="playbar-song-info_favorite">
      <mat-icon fontIcon="favorite_outline"></mat-icon>
    </div>
  </div>

  <div class="playbar-main">
    <div class="playbar-progress">
      <input
        type="range"
        min="0"
        [max]="songDurationInSeconds"
        step="1"
        [value]="currentTimeInSeconds"
        (input)="onRangeInput($event)"
        (change)="onRangeChange($event)"
        class="slider"
      />

      <p class="playbar-progress_time">
        {{ formatLabel(currentTimeInSeconds) }}
      </p>
    </div>

    <div class="playbar-controls_buttons">
      <button
        class="playbar-controls_buttons_previous no_hover_effect"
        mat-icon-button
      >
        <mat-icon fontIcon="skip_previous"></mat-icon>
      </button>
      <button
        class="playbar-controls_buttons_play-stop"
        mat-icon-button
        (click)="playPauseSong()"
      >
        <mat-icon *ngIf="audio?.paused" fontIcon="play_arrow"></mat-icon>
        <mat-icon *ngIf="!audio?.paused" fontIcon="pause"></mat-icon>
      </button>
      <button class="playbar-controls_buttons_next" mat-icon-button>
        <mat-icon fontIcon="skip_next"></mat-icon>
      </button>
    </div>
  </div>
</div>
