.song-card-container {
  border-radius: 8px;
  width: 300px;
  height: 450px;

  mat-card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;
    background-color: bisque;
    border-radius: 8px 8px 0 0;
  }

  img {
    width: 90%;
    margin: 10px auto;
  }

  .song-card_info {
    display: flex;
    justify-content: space-between;

    .song-card_info-artist {
      font-weight: bold;
    }

    .song-card_info-album {
      font-style: italic;
      margin-bottom: 10px;
    }
  }
}

.song-card-container:hover {
  box-shadow: 0 0 100px 0 rgba(44, 43, 43, 0.603);
}
