<div class="song-card">
	<section class="song-card-header">
		<span>
			<p class="song-card-header-title underline-on-hover" (click)="navigateToAlbumWindow(song.album!)">{{
				song.title?.trim() || 'none'}}</p>
			<span style="display: flex; justify-content: space-between;">
				<p class="song-card-info-artist underline-on-hover">{{ song.artist?.trim() || 'no artist' }}</p>
			</span>
		</span>
		<button mat-icon-button class="favorite-icon">
			<mat-icon fontIcon="favorite_outline"></mat-icon>
			<!-- <mat-icon *ngIf="song.isLiked" fontIcon="favorite"></mat-icon> -->
		</button>
	</section>

	<!-- add directive logic for this button to make it visible if the song is currently playing -->
	<button class="song-card-play-button" (click)="playSong()">
		<mat-icon fontIcon="play_arrow" id="play-arrow"></mat-icon>
	</button>
	<img mat-card-image [src]="song.imageUrl" (error)="handleImageError(song)" alt="song image" />

	<section class="song-card-footer">
		<p>{{ getDurationStringFromSeconds(song.duration) }}</p>
		<p class="underline-on-hover" (click)="navigateToAlbumWindow(song.album!)"> <mat-icon
				style="vertical-align: middle;">album</mat-icon>{{ song.album?.trim() || 'none' }} </p>
	</section>
</div>