<mat-card class="song-card-container">
  <mat-card-header>
    <mat-card-title>{{ song.title }}</mat-card-title>
    <button mat-icon-button class="favorite-icon">
      <mat-icon fontIcon="favorite_outline"></mat-icon>
      <!-- <mat-icon *ngIf="song.isLiked" fontIcon="favorite"></mat-icon> -->
    </button>
  </mat-card-header>

  <img mat-card-image [src]="song.imageUrl" (error)="handleImageError()" alt="song image" />

  <div class="song-card_info">
    <mat-card-content>
      <h2 class="song-card_info-artist">{{ song.artist }}</h2>
      <p class="song-card_info-album">{{ song.album }}</p>
    </mat-card-content>

    <mat-card-actions>
      <button mat-icon-button (click)="playSong()">
        <mat-icon fontIcon="play_arrow"></mat-icon>
      </button>
    </mat-card-actions>
  </div>
</mat-card>