<mat-card class="song-card-container">
  <div class="song-card-header">
    <p class="song-card-header-title">{{ song.title?.trim() || 'none'}}</p>
    <button mat-icon-button class="favorite-icon">
      <mat-icon fontIcon="favorite_outline"></mat-icon>
      <!-- <mat-icon *ngIf="song.isLiked" fontIcon="favorite"></mat-icon> -->
    </button>
  </div>

  <img mat-card-image [src]="song.imageUrl" (error)="handleImageError()" alt="song image" />

  <div class="song-card-footer">
    <div class="song-card-info">
      <h2 class="song-card-info-artist">artist:</h2>
      <h2 class="song-card-info-artist">{{ song.artist?.trim() || 'none' }}</h2>
      <p class="song-card-info-album" style="margin-top: 10px;">album:</p>
      <p class="song-card-info-album">{{ song.album?.trim() || 'none' }}</p>
    </div>

    <mat-card-actions>
      <button mat-icon-button (click)="playSong()">
        <mat-icon fontIcon="play_arrow"></mat-icon>
      </button>
    </mat-card-actions>
  </div>
</mat-card>