html,
body {
	height: 100%;

	* {
		box-sizing: border-box;
	}

	.mat-body p,
	.mat-body-2 p,
	.mat-typography .mat-body p,
	.mat-typography .mat-body-2 p,
	.mat-typography p {
		margin: 0;
	}

	.mat-h2,
	.mat-headline-6,
	.mat-typography .mat-h2,
	.mat-typography .mat-headline-6,
	.mat-typography h2 {
		font: 500 20px / 25px Roboto, sans-serif;
		letter-spacing: normal;
		margin: 0;
	}

}

:root {
	--primary-color: #00065c;
	--secondary-color: #4c0e87;
	--accent-color: #6480ff;
}

body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
	// background: -moz-radial-gradient(0% 0%, circle, rgba(96, 16, 48, 0) 9px, #661133 10px, rgba(96, 16, 48, 0) 11px), -moz-radial-gradient(100% 100%, rgba(96, 16, 48, 0) 9px, #661133 10px, rgba(96, 16, 48, 0) 11px), none;
	// background: -webkit-radial-gradient(0% 0%, circle, rgba(96, 16, 48, 0) 9px, #661133 10px, rgba(96, 16, 48, 0) 11px), -webkit-radial-gradient(100% 100%, rgba(96, 16, 48, 0) 9px, #661133 10px, rgba(96, 16, 48, 0) 11px), none;
	// background: -ms-radial-gradient(0% 0%, circle, rgba(96, 16, 48, 0) 9px, #661133 10px, rgba(96, 16, 48, 0) 11px), -ms-radial-gradient(100% 100%, rgba(96, 16, 48, 0) 9px, #661133 10px, rgba(96, 16, 48, 0) 11px), none;
	// background: -o-radial-gradient(0% 0%, circle, rgba(96, 16, 48, 0) 9px, #661133 10px, rgba(96, 16, 48, 0) 11px), -o-radial-gradient(100% 100%, rgba(96, 16, 48, 0) 9px, #661133 10px, rgba(96, 16, 48, 0) 11px), none;
	// background: radial-gradient(0% 0%, circle, rgba(96, 16, 48, 0) 9px, #661133 10px, rgba(96, 16, 48, 0) 11px), radial-gradient(100% 100%, rgba(96, 16, 48, 0) 9px, #661133 10px, rgba(96, 16, 48, 0) 11px), none;
	// background-size: 20px 20px;
	background: linear-gradient(90deg, aliceblue 25%, bisque 100%);
}